#keret{
    width: 950px;
    margin :right;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    background-color: #e77a13
}
#fejlec{
    height: 50px;
}
#jobbmenu{
    width: 240px;
    float: right;
}

#tartalom{
    width: 700px;
    float: left;
}
.cikk{
    border: 1px dashed black;
    background-color: #eeeeee;
    padding: 10px;
    margin-top: 10px;
}
.modul{
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 10px;
}

body{
    font-family: Verdana;
    font-size: 12px;
    background-color: crimson;
}
h1{
    font-family: Arial;
}
h2{
    font-family: Arial;
    margin-top: 0px;
}